.main {
  display: flex;
  flex-direction: column;
  gap: 10rem;

  @include breakpoint(sm) {
    gap: 8rem;
  }
}

.footer {
  margin-top: 10rem;

  @include breakpoint(sm) {
    margin-top: 8rem;
  }
}

.scrollButton {
  text-align: center;
  height: 3rem;

  @include breakpoint(sm) {
    display: none;
  }
}