.aboutMeHero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 18rem;

  @media only screen and (max-width: 1450px) and (min-width: 1199px) {
    gap: 8rem;
  }

  @include breakpoint(lg) {
    gap: 6rem;
  }

  @include breakpoint(md) {
    gap: 4rem;
  }

  @include breakpoint(sm) {
    flex-direction: column;
    gap: 4rem;
  }

  .content {
    flex-basis: 60%;

    @include breakpoint(sm) {
      text-align: center;
    }

    h2 {
      line-height: 1.2;
    }

    p {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin: 2rem 0;
    }

    // TODO: Extract this css as it is same as button component.
    a {
      display: inline-flex;
      justify-content: center;
      align-items: flex-start;
      gap: 0.5rem;
      color: $color-primary;
      background-color: $color-secondary;
      outline: none;
      border: none;
      border-radius: 10px;
      padding: 1rem 2rem;
      @include transition;
    
      &:hover {
        @include shadow-sm;
        transform: scale(1.025);
      }

      .icon {
        width: 1rem;
        margin-top: 1px;
        @include transition;
      }

      &:hover {
        .icon {
          transform: translateX(4px);
        }
      }
    }
  }

  .image {
    flex-basis: 40%;
    text-align: right;

    @include breakpoint(sm) {
      max-width: 24rem;
    }
  }
}