.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;

  @include breakpoint(sm) {
    flex-direction: column;
    gap: 4rem;
    margin-bottom: 2rem;
  }

  > div {
    flex-grow: 1;
  }

  .content {
    flex-shrink: 0;

    button {
      .icon {
        width: 1rem;
        margin-top: 1px;
        @include transition;
      }

      &:hover {
        .icon {
          transform: translateX(4px);
        }
      }
    }

    @include breakpoint(sm) {
      text-align: center;

      br {
        display: none;
      }

      button {
        margin: 0 auto;
      }
    }

    span {
      display: inline-block;
      margin-bottom: 0.25rem;
    }

    p {
      margin: 1rem 0 1.5rem;
    }
  }

  .image {
    max-width: 28rem;
  }
}