.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  gap: 8%;
  height: calc(100% - 12%);
  opacity: 0;

  &.open {
    -webkit-animation: fade-in 0.5s 0.3s both;
    animation: fade-in 0.5s 0.3s both;
  }
  
  // TODO: Extract into a separate file
  @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  
    li {
      font-size: 2rem;
  
      &.active {
        font-weight: 600;
      }
    }
  }
}

.options {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;

  a {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    border: 2px solid $color-secondary;
    border-radius: 10px;
    padding: 1rem;
    font-size: 1rem;
    @include transition;
    
    .image {
      padding-right: 0.5rem;
      @include transition;
    }

    &:hover {
      .image {
        padding-right: 0.4rem;
        transform: rotate(15deg);
      }
    }
  }
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  a {
    @include transition;

    &:hover {
      transform: scale(1.15);
    }
  }
}