.nav {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;

  h4 {
    cursor: pointer;
  }
}

.menuButton {
  display: none;
  background: transparent;
  border: none;
  outline: none;
  width: 2rem;
  height: 2rem;

  @include breakpoint(sm) {
    display: inline-block;
  }
}