$color-primary: #fffcf2;
$color-secondary: #292825;
$color-white: #fffefc;

$font-size: 100%;
$font-family: 'Asap', sans-serif;

$container-max-width: 90rem;
$container-gutter: 6rem;

$border-radius: 24px;

// Responsive layout variables
$breakpoints: (
  xs: 450px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
  xl: 1600px,
);
